<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="capital_Market">


<listeners>
          <listener class-name="com.capital_Market.utilities.ExtentReportListener"/>
</listeners>
  
  
  <test  name="TC_Login">
  <parameter name="browser" value="chrome" />
    <classes>
    
      <class name="com.capital_Market.testcases.TC_logoutpage"/>
  
                         
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite -->